@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #121212;
}

.text-primary {
  color: #121212 !important;
}

.bg-primary {
  background-color: #121212 !important;
}

.text-success {
  color: #009688 !important;
}

.bg-success {
  background-color: #009688 !important;
}

h2 {
  margin: 0;
  font-weight: 600;
  font-size: 1.6rem;
}

h5 {
  margin: 0;
  font-weight: 600;
  font-size: 1.12rem;
}

.cursor {
  cursor: pointer;
}

.header {
  background-color: #262626 !important;
}

.hero_banner {
  height: 300px;
  background-color: #def1f0;
}

.nav-search {
  margin-left: 40px;
  width: 400px;
  position: relative;
}

.nav-search .search-icon {
  position: absolute;
  color: #ddd;
  font-size: 20px;
  left: 16px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.nav-search .form-control {
  border-radius: 30px;
  min-height: 40px;
  border: 0 !important;
  background-color: #121212 !important;
  color: #fff;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: 0 !important;
  padding-left: 50px;
  width: 100%;
}

.category-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.category-list .category-list-item {
  margin-right: 70px;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
}

.category-list .category-list-item:last-child {
  margin-right: 0;
}

.category-list .category-list-item .category-list-item-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  text-transform: capitalize;
  cursor: pointer;
}

.badgeCart {
  position: absolute;
  top: -15px;
  right: -18px;
  text-decoration: none;
  height: 25px;
  width: 25px;
  border-radius: 100%;
  background-color: #009688;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 11px;
}

.container {
  max-width: 1200px;
}

.section-block {
  padding: 60px 0;
}

.table-img {
  height: 60px;
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f6f6f6;
  border-radius: 6px;
  position: relative;
}

.table-img img {
  max-height: 100%;
  max-width: 100%;
}

.table {
  border-color: #262626;
}

.table thead tr th {
  padding: 8px 20px;
  background-color: #262626;
  color: #fff;
  border-color: #121212;
}

.table tbody tr {
  border-color: #262626;
}

.table tbody tr td {
  padding: 12px 20px;
  border-color: #262626;
}

.btntabs .btn {
  margin-right: 15px;
}

.btntabs .btn:last-child {
  margin-right: 0;
}

.btn {
  border-radius: 25px;
  font-weight: 600;
  border: 1px solid #121212;
  background-color: transparent !important;
  color: #121212 !important;
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  padding: 6px 20px;
  font-size: .9rem;
}

.btn.active, .btn:hover {
  background-color: #121212 !important;
  color: #fff !important;
  border-color: #121212 !important;
}

.btn.btn-small {
  font-size: .8rem;
}

.btn.form-block-btn {
  border-radius: 0;
  min-height: 50px;
  min-width: 180px;
  background-color: #121212 !important;
  color: #fff !important;
}

.product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product-card .discount {
  position: absolute;
  top: 10px;
  left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  height: 22px;
  border-radius: 6px;
  font-weight: 600;
  color: #fff;
  background-color: #009688;
  font-size: .85rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-card .product-card-img {
  height: 300px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #121212;
  position: relative;
}

.product-card .product-card-img img {
  max-width: 80%;
  max-height: 80%;
}

.product-card .product-card-body .product-card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-card .product-card-body .product-card-info .title {
  line-height: 1.4;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}

.product-card .product-card-body .product-card-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-card .product-card-body .product-card-action .product-card-price .price {
  font-size: 1.12rem;
  font-weight: 600;
}

.swiper {
  padding-bottom: 80px !important;
}

.swiper .swiper-button-prev {
  left: 50%;
  margin-left: -35px;
  bottom: 0;
  top: auto;
}

.swiper .swiper-button-prev::after {
  color: #121212 !important;
}

.swiper .swiper-button-next {
  right: 50%;
  margin-right: -35px;
  bottom: 0;
  top: auto;
}

.swiper .swiper-button-next::after {
  color: #121212 !important;
}

.form-block-control.form-control {
  border-radius: 0 !important;
  background-color: #fff !important;
  outline: none !important;
  min-height: 50px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border-color: #121212;
  color: #121212;
}
/*# sourceMappingURL=index.css.map */